/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #7E846B;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: #ADB6A5;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
    color: #0f0f0e;
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #0f0f0e;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #0f0f0e;
    font-size: 16px;
    resize: none;
    min-height: 120px;
    background-color: #EBEDE9;
    color: #0f0f0e;
    transition: all 0.3s ease;
}

textarea:focus {
    border-color: #222725;
    background-color: #ffffff;
}

textarea::placeholder {
    color: #6c757d;
}

.copy-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #000;
    transition: color 0.3s ease;
}

.copy-icon:hover {
    color: #455d53;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    textarea {
        font-size: 15px;
        min-height: 100px;
    }

    .copy-icon {
        right: 10px;
        top: 10px;
    }
}
